@import url("../index.css");

#logout {
  padding: 0.5rem 1rem;
}

#settings,
#sub,
#security {
  display: flex;
  width: 31rem;
  height: 3rem;
  background: var(--lightElem);
  color: var(--text);
  padding: 0.875rem 1rem;
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#CreativeFieldsTitle {
  position: relative;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.lightdark {
  display: inline-flex;
}

.lightdark button {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 0.1875rem;
}

.lightdark .lightcolor {
  background-color: #f4f4f4;
  color: #343434;
}

.lightdark .darkcolor {
  background-color: #343434;
  color: #f0eeef;
}

.colors button {
  display: inline-flex;
  height: 4rem;
  width: 4rem;
  border-radius: 0.1875rem;
}

.colors button:hover {
  box-shadow: inset var(--text) 0px 0px 40px -12px;
  box-shadow: 80%;
}

#green {
  --accCol: #7bbb96;
}

#red {
  --accCol: #ff5f5f;
}

#purple {
  --accCol: #9287d7;
}

#yellow {
  --accCol: #fdc83a;
}

#orange {
  --accCol: #ffa552;
}

#blue {
  --accCol: #87cdd7;
}

#pink {
  --accCol: #f896ad;
}

.accountPage {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 80vw;
  height: calc(100vh - 8rem);
}

.accountContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 4rem;
}

.mainAccount{
  display: flex;
  flex-direction: column;
  align-items: center;
}
