.titleStylesBD {
  width: 51rem;
  font-size: 2rem;
  color: var(--text);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-style: none;
  background-color: var(--lightElem);
  margin-top: 1.5rem;
}

.promptStylesBD {
  width: 51rem;
  font-size: 2rem;
  color: var(--text);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-style: none;
  background-color: var(--lightElem);
}

.inputSpaceBD {
  width: 57rem;
  height: 40rem;
  background-color: var(--lightElem);
  border-radius: 10px;
  /* light paper shadow */
  box-shadow: 6px 6px 16px 0px rgba(209, 205, 199, 0.5),
    -6px -6px 16px 0px rgba(255, 255, 255, 0.5);
  padding: 0rem 2rem;
}

.dateStleBD {
  color: var(--textInput2);
  /* SF Pro Regular */
  font-family: SF Pro Display;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.5rem 0;
  padding-left: 0.125rem;

}

.inputStyleBD {
  color: var(--text);
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  border-style: none;
  width: 56.5rem;
  height: 25rem; /* You can adjust the height as needed */
  background-color: var(--lightElem);
  line-height: 1;
  resize: none; /* Prevent the textarea from being resized by the user */
  padding: 0.5rem 0.25rem; /* Add some padding for better appearance */
}

.inputStyleBD::placeholder {
  text-align: left; /* Align placeholder text to the left */
  vertical-align: top; /* Align placeholder text at the top */
}

.saveBtn {
  width: 64px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 3px;
  background: var(--accCol);
  margin-top: 32px;
  margin-left: 1.5rem;
  right: 32px;
  box-shadow: 6px 6px 16px 0px var(--shadow), -6px -6px 16px 0px var(--shadow);
  color: #fff;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flexboxing {
  display: flex;
  flex-direction: row;
}

.flexboxing2 {
  display: flex;
  flex-direction: column;
}
.pickInput {
  width: 61rem;
  height: 40rem;
  background-color: var(--lightElem);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--light-theme-paper-border, rgba(255, 255, 255, 0.2));

  /* light paper shadow */
  box-shadow: 6px 6px 16px 0px rgba(209, 205, 199, 0.5),
    -6px -6px 16px 0px rgba(255, 255, 255, 0.5);
}
.headerInputType {
  color: var(--light-theme-text, #1b1c25);
  font-family: SF Pro Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subheaderInputType {
  color: var(--light-theme-text, #1b1c25);
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.pickFeature {
  padding: 137px 168px 136px 168px;
}

.featureCardBD {
  width: 12rem;
  height: 16rem;
  background-color: var(--lightElem);
  border-radius: 10px;
  border: 1px solid var(--light-theme-paper-border, rgba(255, 255, 255, 0.2));

  /* light paper shadow */
  box-shadow: 6px 6px 16px 0px rgba(209, 205, 199, 0.5),
    -6px -6px 16px 0px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3aa768;
}

.featureCardBD > p {
  margin: 0;
}

.featureCardBD:hover {
  background-color: var(--brainDump);
}

.featureCardBD:hover > p {
  color: var(--lightElem);
}

.featureCardCB {
  width: 12rem;
  height: 16rem;
  background-color: var(--lightElem);
  border-radius: 10px;
  border: 1px solid var(--light-theme-paper-border, rgba(255, 255, 255, 0.2));

  /* light paper shadow */
  box-shadow: 6px 6px 16px 0px rgba(209, 205, 199, 0.5),
    -6px -6px 16px 0px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #56adba;
}

.featureCardCB > p {
  margin: 0;
}

.featureCardCB:hover {
  background-color: var(--creativityBooster);
}

.featureCardCB:hover > p {
  color: var(--lightElem);
}

.featureImg {
  width: 9.6rem;
  height: 12rem;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.featureCardDC {
  position: relative;
  width: 12rem;
  height: 16rem;
  background-color: var(--lightElem);
  border-radius: 10px;
  border: 1px solid var(--light-theme-paper-border, rgba(255, 255, 255, 0.2));

  /* light paper shadow */
  box-shadow: 6px 6px 16px 0px rgba(209, 205, 199, 0.5),
    -6px -6px 16px 0px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eb4a4a;
}

.featureCardDC > p {
  margin: 0;
}

.featureCardDC:hover {
  background-color: var(--dailyChallenge);
  color: var(--lightElem);
}

.DailyChallengeTimer {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.featureImgHourglass {
  height: 1rem;
  width: auto;
}

.featureImgCB {
  width: auto;
  height: 12rem;
}

.featureCardBD:hover .featureImg,
.featureCardDC:hover .featureImg,
.featureCardCB:hover .featureImgCB {
  clip-path: inset(10% 10% 40% 10%);
  transition: clip-path 0.3s ease-in-out;
}

.featureCardBD,
.featureCardDC,
.featureCardCB {
  overflow: hidden;
}

.choosePicture {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.choosePicture img {
  width: 12.5rem;
  height: 19.32694rem;
}

.choosePictureContainer {
  height: 40.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choosePictureContent {
  height: 40.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.choosePictureText h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.choosePictureText p {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 300;
  margin: 1rem 0;
}

#dashedLine {
  background-color: var(--background);
  width: auto;
  height: 0.125rem;
  margin: 0.5rem 0;
}

.dashboardDate {
  font-size: 1.25rem;
  font-weight: 500;
}