.dropdown {
  color: var(--text);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 200px;
  height: 35px;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: left;
  border-radius: 3px;
  background-color: var(--lightElem);
  border-style: none;
  /* light paper shadow */
  box-shadow: 6px 6px 16px 0px rgba(209, 205, 199, 0.5),
    -6px -6px 16px 0px rgba(255, 255, 255, 0.5);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--lightElem) url("./images/chevron.down.svg") no-repeat right
    center;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
  margin-bottom: 0;
}

.date {
  margin: auto;
}
