@import url("../index.css");

.entryGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.entryGroupColumn {
  /* rem musi byc tutaj bo inaczej ucina cienie i scrollbar zaslania entryGroup */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.emptyStateContainer{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyStateContainer p{
  padding-left: 1.5rem;
}

.entryCard {
  width: 26rem;
  height: 17.75rem;

  border-radius: 0.3125rem;
  background: var(--lightElem, #fdfdfd);

  display: grid;
  grid-template-columns: 2% 80% 18%;

  background-color: var(--lightElem);

  cursor: pointer;
}

.entryPinned {
  background-color: var(--accCol);
  display: inline-block;
  height: 100%;
  margin: 0;
  width: 1rem;
  border-radius: 0.3125rem 0 0 0.3125rem;
}

.entryPinned {
  display: inline-block;
  height: 100%;
  margin: 0;
  width: 1rem;
  border-radius: 0.3125rem 0 0 0.3125rem;
}

.entryCardContent {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  margin: 1rem;
}

.BrainDumpDot {
  background-color: var(--brainDump);
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  display: inline-block;
}

.DailyChallengeDot {
  background-color: var(--dailyChallenge);
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  display: inline-block;
}

.CreativityBoosterDot {
  background-color: var(--creativityBooster);
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  display: inline-block;
}

.inputType {
  margin: 0;
}

.entryDate {
  color: var(--textInput2);
  font-size: 1rem;
  font-weight: 400;
}

.entryTitle {
  color: var(--text);
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0.5rem 0;
  padding: 0;
}

.entryText {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0.5rem 0;
  padding: 0;
}

.tagButton {
  color: var(--lightElem);
}

.projectButton {
  background-color: var(--background);
  color: var(--accCol);
}

.buttons-row {
  display: grid;
  grid-template-columns: 90% 10%;
}

.moreContainer {
  margin: 1rem;
  justify-self: center;
  align-self: end;
  position: relative;
}

.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.moreOptions{
  z-index: 1;
  position: absolute;
  right: -50%;
  width: 7rem; 
  display: flex;
  flex-direction: column;
  background-color: var(--lightElem);
  padding: 0.5rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.125rem;
}

.horizontal{
  width: 100%;
  border: 0.001rem var(--textInput2) solid;
  border-radius: 2px;
}

.entryDisplay{
  z-index: 10;
  border-radius: 0.3125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--lightElem);
  width: 61rem;
  height: 90vh;
}


.flex-row-untitled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}