@import url("../index.css");

.seeAll {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
}

.seeAllText:hover {
    color: var(--accCol);
    text-decoration: underline var(--accCol);
}

.allgroups {
    margin-top: 4rem;
}

.sortBy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 1rem;
    font-size: 16px;
}

