@import url("../index.css");
/* coded by Aga */
.projectCard{
    margin: 2rem 1rem;
}

.firstCardBg{
    transform: rotate(4deg);
    background-color: var(--lightElem);
    width: 25rem;
    height: 16rem;
    border-radius: 0.3125rem;
}

.secondCardBg{
    transform: rotate(-10deg);
    background-color: var(--lightElem);
    width: 25rem;
    height: 16rem;
    border-radius: 0.3125rem;
}

.projectCardContent{
    cursor: pointer;
    transform: rotate(6deg);
    display: flex;
    align-items: end;
    background-color: var(--accCol);
    width: 25rem;
    height: 16rem;
    border-radius: 0.3125rem;
}

.projectGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

.projectCardTime{
    color: var(--textLighter);
    font-size: 1rem;
    font-weight: 400;
}

.projectCardTitle{
    margin: 2rem 2rem ;
    font-size: 1.75rem;  
    font-weight: 700;
}

/* coded by Zuzanna */
.addProject {
    background-color: var(--background);
    color: var(--accCol);
    font-size: 4rem;
    padding: 0 1.25rem;
    font-weight: 500;
    margin-top: 4rem;
}