@import url("../index.css");

.sidebar {
  z-index: 10;
  width: 0;
  height: 100vh;
  background-color: var(--lightElem);
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.open {
  width: 20rem;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeBtn:focus {
  box-shadow: 6px 6px 16px 0px var(--shadowCol),
  -6px -6px 16px 0px var(--shadowCol);
}

.burgerMenuIcon {
  width: 50px;
  height: 46px;
  flex-shrink: 0;
  color: var(--text);
  background-color: var(--background);
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.burgerMenuIcon:focus {
  box-shadow: 6px 6px 16px 0px var(--shadowCol),
  -6px -6px 16px 0px var(--shadowCol);
}

.closeBtn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--lightElem);
  color: var(--text);
  margin-right: 32px;
  margin-top: 32px;
}
.pageClick {
  display: flex;
  flex-direction: row;
  color: var(--text);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  align-items: center;
  gap: 12px;
}
.navContainer {
  display: flex;
  flex-direction: column;
  padding-top: 6.125rem;
}

a {
  text-decoration: none;
}

.houseIcon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--lightElem);
  color: var(--text);
}

.houseIcon:focus {
  box-shadow: inset 6px 6px 16px 0px rgba(209, 205, 199, 0.50), -6px -6px 16px 0px rgba(255, 255, 255, 0.50);
}

.sideBarLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95vh;
  padding-left: 2rem;
}
