@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  font-family: "SF Pro Display", sans-serif;

  --brainDump: #3aa768;
  --creativityBooster: #56adba;
  --dailyChallenge: #eb4a4a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.light {
  --textInputLight: #d9d9de;
  --textInput2: #adacb5;
  --textInput: #d2d2d2;
  --textLighter: #3e4050;
  --text: #1b1c25;
  --background: #f4f4f4;
  --lightElem: #fdfdfd;
  --shadowOne: 6px 6px 16px 0px rgba(255, 255, 255, 0.2);
  --shadowTwo: -6px -6px 16px 0px rgba(255, 255, 255, 0.2);


  color: var(--text);
  background-color: var(--background);
}

.dark {
  --textInputLight: #797979;
  --textInput2: #b4b4b4;
  --textInput: #d2d2d2;

  --text: #f0eeef;
  --background: #343434;
  --lightElem: #3f3f3f;
  --shadow: rgba(0, 0, 0, 0.2);

  color: var(--text);
  background-color: var(--background);
}

.green {
  --accCol: #7bbb96;
}
.red {
  --accCol: #ff5f5f;
}
.purple {
  --accCol: #9287d7;
}
.yellow {
  --accCol: #fdc83a;
}
.orange {
  --accCol: #ffa552;
}
.blue {
  --accCol: #87cdd7;
}
.pink {
  --accCol: #f896ad;
}

body {
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
}

a{
  color: var(--text);
  text-decoration: none;
}

#AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: calc(100vh - 3rem);
  padding: 3rem 4rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  background-color: var(--accCol);
  color: var(--lightElem);
  cursor: pointer;

  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;

  border-style: none;
  border-radius: 0.125rem;
  box-shadow: 6px 6px 16px 0px rgba(209, 205, 199, 0.5),
    -6px -6px 16px 0px rgba(255, 255, 255, 0.5);
}
